/*TABLE OF CONTENT
 1) TYPOGRAPHY
 1.1) FONT FACE START HERE
 1.2) HEADING STYLE START HERE
 1.3) LIST STYLE START HERE
 1.4) FORM FIELD START HERE
 1.5) TABLE STYLE START HERE
 1.6) OTHER GLOBAL TAG START HERE

 2) HEADER START HERE

 3) FOOTER START HERE
 
 4) POPUP START HERE
 
 5) BREADCRUMB START HERE
 
 6) TAB START HERE
 
 7) MESSAGE DESIGN STAR HERE
 
 8) FORM START HERE	 
 */

/*1) TYPOGRAPHY*/
/*FONT FACE START HERE*/
@font-face {
	font-family: 'coconregular';
	src: url('../fonts/cocon-webfont.eot');
	src: url('../fonts/cocon-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/cocon-webfont.woff') format('woff'),
	url('../fonts/cocon-webfont.ttf') format('truetype'),
	url('../fonts/cocon-webfont.svg#coconregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*FONT FACE END HERE*/
* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
}
#wrapper{
	overflow:hidden;
	position:relative;
}
body {
	font-size:62.5%;
	/*background:url(https://s3-us-west-2.amazonaws.com/ovessence/img/layout.jpg) center top no-repeat;*/
	line-height:1;
	font-family: 'Roboto', 'sans-serif';
	font-weight:300;
	color:#7f7f7f;
}
/*1.1) HEADING STYLE START HERE*/
h1, h2 {
	font-size: 2.5em;
	margin-bottom:46px;
	color:#6db328;
	position:relative;
	text-align: center;
	line-height: 1.5;
	display:inline-block;
	font-weight:300;
	padding:11px 60px 0;
	text-transform: uppercase;
}
h1 small, h2 small {
	display:inline-block;
	font-size:100%;
	background:#fff;
	padding:0 5px;
	text-transform: none;
}
h1 span, h2 span, h3 span {
	font-size: .52em;
	line-height:1.5;
	color:#aaaaaa;
	margin-bottom:-7px;
	display:block;
	position:relative;
}
h1:after, h2:after {
	border:2px solid #6db328;
	border-bottom:none;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	content:"";
}
h1:before, h2:before {
	border:2px solid #6db328;
	border-top:none;
	height:23px;
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	content:"";
}
h3 {
	font-size: 1.8em;
	margin-bottom:4px;
	line-height:1.4;
	font-weight:400;
	color:#404040;
}
h4 {
	font-size: 2em;
	margin-bottom:15px;
	line-height: 1.2;
	font-weight:300;
	color:#fff;
}
h5 {
	font-size: 1.7em;
	font-weight:300;
	margin-bottom:5px;
	color:#404040;
}
h6 {
	font-size: 1.4em;
	margin-bottom:0;
	color:#404040;
	font-weight: 400;
	text-align:left;
	text-transform: none;
}
/*1.1) HEADING STYLE END HERE*/
/*lISTING STYLE START HERE*/
ul, ol {
	list-style: none;
}
ul, ol, dl {
	font-size:1.3em;
	line-height: 1.5;
	list-style: none;
	margin-left:0;
}
dd {
	margin-left:10px;
}
dt {
	font-weight: bold;
}
/*lISTING STYLE END HERE*/
/*FORM FIELD START HERE*/
input, textarea, select {
	border-radius:4px;
	border:1px solid #c2c1c1;
	background:#fff;
	max-width:100%;
	width:240px;
	height:44px;
	padding:5px 10px;
	font-size: 100%;
	font-family:inherit;
  /*-moz-appearance:listbox;
  -webkit-appearance:listbox;
  -o-appearance:listbox;
  -ms-appearance:listbox;*/
  
    
}
select {
	height:auto;
	min-height:35px;
}
textarea {
	height:100px;
}
input[type=radio], input[type=checkbox] {
	border-radius:0;
	border:1px solid #ccc;
	background:#fff;
	box-shadow:none;
	max-width:100%;
	width:auto;
	height:auto;
	padding:0;
}
input[type=button], input[type=submit], button,.green-btn, input[type=reset]  {
    -webkit-appearance: none;
	border-radius:4px;
	background:#77be32;
	width:100%;
	text-align:center;
	cursor:pointer;
	height:44px;
	border:none;
	text-transform: uppercase;
	color:#fff;
	font-family: inherit;
	font-size:1.4em;
	transition:all .5s ease;
	-webkit-transition:all
	.5s ease;
	-o-transition:all
	.5s ease;
}
.green-btn{
	line-height:3.14;
	display:inline-block;
}
input[type=button].black, input[type=reset].black, input[type=submit].black, button.black{
	background:#333333;
	color:#fff;
}
input[type=button]:hover, input[type=submit]:hover, button:hover ,.green-btn:hover, input[type=reset]:hover{
	background:#98e64d;
	color:#477917;
}
fieldset {
	padding:10px 15px;
}
legend {
	font-size:1.4em;
}
label {
	font-size:1.4em;
}
input[type=radio],input[type=checkbox]{
	position:absolute;
	left:-9999px;
}
input[type=radio]~span,input[type=checkbox]~span{
	width:20px;
	height:19px;
	background:url(https://s3-us-west-2.amazonaws.com/ovessence/img/sprite.png) -21px -33px no-repeat;
	float:left;
	margin-right:6px;
}
input[type=radio]:checked~span,input[type=checkbox]:checked~span{
	background-position:-42px -33px;
}
/*FORM FIELD STYLE END HERE*/
/*TABLE STYLE START HERE*/
table {
	width:100%;
	/*max-width:500px;*/
	font-size:1.5em;
	line-height: 2;
	margin-bottom:15px;
	/*border:1px solid #ccc;*/
}
table caption {
	background:#ede8e8;
}
/*tr:nth-child(even) {
	background: #CCC
}
tr:nth-child(odd) {
	background: #FFF
}*/
/*TABLE STYLE END HERE*/
/*OTHER GLOBAL TAG START HERE*/
p {
	font-size:1.7em;
	line-height: 1.47;
	margin-bottom:15px;
	color:#7f7f7f;
}
dfn{
	font-size:1.4em;
	line-height: 1.28;
	color:#7f7f7f;
	display:block;
	font-style:normal;
}
a {
	color:inherit;
	text-decoration: none;
}
address {
	font-size:1.7em;
	font-style:normal;
	line-height: 1.5;
	margin-bottom:15px;
}
hr {
	margin:0 0 15px 0;
}
img {
	max-width:100%;
	height:auto;
}
blockquote {
	background:#EDE8E8;
	padding:10px;
	border:1px solid #000;
}
blockquote p {
	margin:0px;
}
.main {
	max-width:1180px;
	margin:0 auto;
	padding:0 10px;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
	/* For IE 6/7 (trigger hasLayout) */
}
.center {
	margin-left:auto;
	margin-right:auto;
}
.span-82 {
	width:82%;
}
.span-17 {
	width:17%;
	float:left;
}
.span-42 {
	width:42%;
	float:left;
	padding-right:90px;
}
.span-24 {
	width:24%;
	float:left;
}
.align-left{
	text-align: left!important;
}
.none-display{
	display:none;
}
.section-block{
	margin-bottom:60px;
}
.trigger{position:fixed; left:0px; top:0px; width:100%; }
.text-align{
	text-align:left;
}
/*OTHER GLOBAL TAG END HERE*/
/*HEADER STYLE START HERE*/
#header {
	background:rgba(0,0,0,.8);
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	padding:9px 0;
	text-align:center;
	z-index:99999;
}
#logo {
	float:left;
}
#login {
	float:right;
	font-size: 1.4em;
	line-height: 1;
	color:#fff;
	padding:29px 19px 30px;
	text-transform:uppercase;
	margin:-9px 0;
}
#login:hover{
	background:#77be32;
}
#login  {
	transition:all
	.5s ease;
	-webkit-transition:all
	.5s ease;
	-o-transition:all
	.5s ease;
}
.menu-open{
	width:30px;
	height:5px;
	background:#fff;
	float:right;
	position: relative;
	margin-top:22px;
	transition:all
	.2s ease;
	-webkit-transition:all
	.2s ease;
	-o-transition:all
	.2s ease;
	display:none;
}
.menu-open:after,.menu-open:before{
	width:30px;
	height:5px;
	background:#fff;
	position: absolute;
	left:0px;
	top:-9px;
	content:"";
	transition:all
	.2s ease;
	-webkit-transition:all
	.2s ease;
	-o-transition:all
	.2s ease;
}
.menu-open:before{
	top:auto;
	bottom:-9px;
}
.menu-open.active{
	background:none;
}
.menu-open.active:after{
	transform:rotate(40deg);
	-webkit-transform:rotate(40deg);
	-ms-transform:rotate(40deg);
	top:0;
}
.menu-open.active:before{
	transform:rotate(-40deg);
	-webkit-transform:rotate(-40deg);
	-ms-transform:rotate(-40deg);
	bottom:0;
}
#header ul.btn {
	display:inline-block;
	font-size: 1.4em;
	line-height: 2.85;
	color:#fff;
	text-transform:uppercase;
	padding-top:8px;
	font-weight: 400;
}
#header ul.btn li {
	float:left;
	background:#77be32;
	transition:all
	.5s ease;
	-webkit-transition:all
	.5s ease;
	-o-transition:all
	.5s ease;
	border-radius:4px;
	margin:0 5px;
}
#header ul.btn li:hover {
	background:#98e64d;
	color:#477917;
}
#header ul.btn a {
	display:block;
	padding:0 20px;
}
/*HEADER STYLE END HERE*/
/*FOOTER START HERE*/
#footer h4 {
	color:#fff;
}
#footer {
	padding-top:36px;
	background:#000;
  text-align:left;
}
#footer  ul {
	font-size:1.3em;
	line-height: 1.69;
}
#footer li {
	transition:all
	.5s ease;
	-webkit-transition:all
	.5s ease;
	-o-transition:all
	.5s ease;
}
#footer li:hover {
	color:#3a589b;
}
#footer .main {
	padding-bottom:27px;
	overflow: hidden;
}
#footer p {
	font-size:1.3em;
	line-height: 1.69;
	margin-bottom: 20px;
}
#footer input[type=text] {
	float:left;
	width:71%;
	margin-right:12px;
	background:#262626;
	color:#d4d4d4;
	font-style: italic;
	border:none;
	font-size: 1.4em;
	font-weight: 300;
}
#footer input[type=submit] {
	float:left;
	width:24%;
}
#footer-logo {
	width:132px;
	display:block;
	margin:31px auto 0;
}
.social-link {
	padding-top:26px;
	overflow:hidden;
	padding-left:4px;
}
.social-link li {
	line-height: 3.46;
	float:left;
	width:50%;
	margin-bottom:2px;
}
.social-link li i:after{
	position:absolute;
	left:0px;
	top:0px;
	content:"";
	width:40px;
	height:45px;
	background:url(https://s3-us-west-2.amazonaws.com/ovessence/img/social-icon.png) -256px -49px no-repeat;
}
.social-link li i {
	float:left;
	width:40px;
	margin-right:8px;
	height:45px;
	background:rgba(255,255,255,0.22) url(https://s3-us-west-2.amazonaws.com/ovessence/img/social-icon.png) 0 0 no-repeat;
	position:relative;
	transition:all .5s ease;
	-o-transition:all .5s ease;
	-webkit-transition:all .5s ease;
}
.social-link li.g-plus i {
	background-position:-123px 0;
}
.social-link li.twitter i {
	background-position:-41px 0;
}
.social-link li.youtube i {
	background-position:-164px 0;
}
.social-link li.linkedin i {
	background-position:-82px 0;
}
.social-link li.facebook:hover i {
	background-position:0px -48px;
	background-color:#3a589b;
}
.social-link li.g-plus:hover i {
	background-position:-123px -48px;
	background-color:#db4a37;
}
.social-link li.twitter:hover i {
	background-position:-41px -48px;
	background-color: #55acee;
}
.social-link li.youtube:hover i {
	background-position:-164px -48px;
	background-color:#c0110a;
}
.social-link li.linkedin:hover i {
	background-position:-82px -48px;
	background-color:#0274b3;
}
.copyright {
	font-size: 1.6em;
	color:#fff;
	background:#77be32;
	line-height: 4.3;
	text-align:center;
	display:block;
}
/*FOOTER END HERE*/

/*POPUP START HERE*/
.popup{
	position:fixed;
	left:50%;
	top:50%;
	width:960px;
	height:568px;
	margin:-284px 0 0 -480px;
	z-index:9999;
	border:7px solid #000000;
	opacity:0;
	visibility: hidden;
	-ms-transform: translate(0,-50%); /* IE 9 */
	-webkit-transform: translate(0,-50%); /* Chrome, Safari, Opera */
	transform: translate(0,-50%);
	transition: all .5s ease;
	-ms-transition: all .5s ease;
	-webkit-transition: all .5s ease;
}
.popup.active{
	-ms-transform: translate(0,0%); /* IE 9 */
	-webkit-transform: translate(0,0%); /* Chrome, Safari, Opera */
	transform: translate(0,0%);	
	opacity:1;
	visibility: visible;
}
.close{
	position:absolute;
	right:-59px;
	top:-7px;
	width:52px;
	height:43px;
	background:#000 url(https://s3-us-west-2.amazonaws.com/ovessence/img/sprite.png) -65px -25px no-repeat;
	border-radius:0 45% 45% 0;
}
#overlay{
	position: fixed;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	background:rgba(0,0,0,.7);
	z-index: 990;
	visibility: hidden;
}
#overlay.active{
	visibility: visible;
}
/*POPUP END HERE*/
/*BREADCRUMB START HERE*/
#breadcrumb{
	color:#77be32;
	font-size:1.2em;
	line-height: 2;
	overflow:hidden;
	top:-30px;
	position:relative;
	padding:3px 19px;
	background:#fff;
	margin-bottom:10px;
}
#breadcrumb li{
	float:left;
	margin-right:24px;
}
#breadcrumb li a{
	display:block;
	color:#737373;
	position:relative;
}
#breadcrumb li a:after{
	position:absolute;
	right:-16px;
	top:8px;
	content:"";
	width:6px;
	height:11px;
	background:url(https://s3-us-west-2.amazonaws.com/ovessence/img/sprite.png) 0 -56px no-repeat;
}
/*BREADCRUMB END HERE*/
/*TAB START HERE*/
.tab-trigger ul {
	text-align:center;
	font-size:2.5em;
	line-height:1;
	display:inline-block;
}
.tab-trigger li{
	background:#f0f0f0;
	float:left;
	padding-top:11px;
	text-transform:uppercase;
	width:416px;
	height: 70px;
	position: relative;
	cursor: pointer;
}
.tab-trigger li small{
	display:block;
	text-transform:none;
	font-size:0.582em;
}
.tab-trigger li.active{
	background:#77be32;
	color:#fff;
}
.tab-trigger li.active:after{
	position: absolute;
	left:50%;
	top:100%;
	content:"";
	border-top:10px solid #77be32;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
}
.tab-target{
	display:none;
}
/*TAB END HERE*/
/*MESSAGE DESIGN STAR HERE*/
.message{
	font-size: 1.4em;
	line-height: 3.5;
	padding:0 20px;
	border:1px solid #f85c5c;
	background:#fdeeee;
	color:#f85c5c;
	margin-bottom:10px;
	border-radius:4px;
	text-align: left;
	position: relative;
}
.message-close{
	font-size: 2.5em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.42;
	position: absolute;
	right:20px;
	top:0px;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}
.message.sucess-msg{
	border-color:#68c600;
	background:#edfdda;
	color:#68c600;
}
/*MESSAGE DESIGN END HERE*/

/*FORM START HERE*/
.form{
	padding-bottom:48px;
	width:48%;
	float:left;
	padding-top:20px;
}
.form input{
	width:100%;
	height:42px;
}
.form textarea{
	width:100%;
	height:142px;
}
.form li{
	margin-bottom:19px;
}
.form input[type=buttom],.form input[type=submit],.form button{
	max-width:260px;
	float:right;
	font-size:100%;
}
